<div class="container mt-4">
  <h2>Lista użytkowników</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Token</th>
        <th>Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.token }}</td>
        <td>{{ user.expirationDate | date : "yyyy-MM-dd HH:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>
</div>
